## Column values to csv
- `data\extracted\merged_route_final`에서 city, infection_case. type column values 파일로 따로 저장
- 저장 목록
  - `data\checklist\city_column.csv
  - `data\checklist\infection_case_column.csv
  - `data\checklist\type_case_column.csv

In [1]:
import sys
import os

from os import listdir
from os.path import isfile, join
from pathlib import Path

root = Path(os.getcwd()).parent.parent
sys.path.append(str(root))

In [2]:
import pandas as pd

In [3]:
final_path = join(root, 'data', 'extracted', 'merged_route_final.csv')
final_df = pd.read_csv(final_path)
final_df.head()

,patient_id,city,infection_case,date,type,latitude,longitude,row,col
0,1000000001,jung,overseas inflow,2020-01-24,hospital,37.567241,127.005659,147.0,152.0
1,1000000002,seongbuk,overseas inflow,2020-01-25,etc,37.592560,127.017048,119.0,161.0
2,1000000002,seongbuk,overseas inflow,2020-01-26,store,37.591810,127.016822,120.0,161.0
3,1000000002,seongdong,overseas inflow,2020-01-26,public_transportation,37.563992,127.029534,151.0,170.0
4,1000000002,seongbuk,overseas inflow,2020-01-26,public_transportation,37.590330,127.015221,121.0,160.0

In [4]:
final_df.columns

Index(['patient_id', 'city', 'infection_case', 'date', 'type', 'latitude',
       'longitude', 'row', 'col'],
      dtype='object')

In [5]:
city_list = final_df['city'].drop_duplicates().tolist()
len(city_list)

29

In [6]:
case_list = final_df['infection_case'].drop_duplicates().tolist()
len(case_list)

63

In [7]:
type_list = final_df['type'].drop_duplicates().tolist()
len(type_list)

70

In [9]:
city_path = join(root, 'data', 'checklist', 'city_column.csv')
city_df = pd.DataFrame(data={'city': city_list})
city_df.to_csv(city_path, encoding='utf-8-sig',index=False)

case_path = join(root, 'data', 'checklist', 'infection_case_column.csv')
case_df = pd.DataFrame(data={'infection_case': case_list})
case_df.to_csv(case_path, encoding='utf-8-sig',index=False)

type_path = join(root, 'data', 'checklist', 'type_column.csv')
type_df = pd.DataFrame(data={'type': type_list})
type_df.to_csv(type_path, encoding='utf-8-sig',index=False)